@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300&family=Raleway:wght@100&family=Red+Hat+Display:ital,wght@1,300&display=swap');


*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
width: 0.25;
}

.container{
    background-color: #111;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.FON{
    position: relative;
    display:flex;
    align-items:center;
}

.FON h1{
    position: relative;
    color: rgb(207, 207, 207);
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    text-transform: uppercase;
}

span{
    opacity: 0;
    transition: all 3s ease;
    transform: translateY(50px);
    display: inline-block;
    letter-spacing: 20px;
}

span.fade{
    opacity: 1;
    transform: translateY(1px);
}
//Nav

nav{
    position:absolute;
    width: 50%;
    top: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4vh;
    padding: 30px;
    
}

nav button{
    background: none;
    margin: 1em;
    padding: .5em;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 20px;
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

$colors: (
    earth: #805b42,
    water: #4779c9,
    air: #9fbbbd,
    fire: #960503
);

@each $button, $color in $colors{
    .#{$button} {
        --color: #{$color};
        --hover: #{adjust-hue($color, 1deg)};
    }
}

nav button:hover, 
nav button:focus{
    box-shadow: 0 0.5em 0.5em -0.4em var(--hover);
    border-color: var(--hover);
    color: #fff;
    transform: translateY(-.25em);
}

.earth{
    color: var(--color);
    transition: 0.25s;
}


.earth.active::after
{
    transform: translateY(-.25em)
}

.earth.active:focus{
    border-color: #fff;
    box-shadow: #fff;
}

.water{
    color: var(--color);
    transition: 0.25s;
}

.water.active::after{
    transform: translateY(-.25em);
}

.water.active:focus{
    border-color:#fff;
    box-shadow: #fff;
}

.air{
    color: var(--color);
    transition: 0.25s;
}


.air.active::after
{
    transform: translateY(-.25em)
}

.air.active:focus{
    border-color: #fff;
    box-shadow: #fff;
}

.fire{
    color: var(--color);
    transition: 0.25s;
}


.fire.active::after
{
    transform: translateY(-.25em)
}

.fire.active:focus{
    border-color: #fff;
    box-shadow: #fff;
}

.links{
    display:flex;
    justify-content: space-around;
    width: 80%;
    list-style: none;
}

@media screen and (max-width:1024px){
    .links{
        width: 40%;
    }
};

//Earth Section
.stability{
    position: absolute;
    top: 0;
    left: 100%;
    width: 100%;
    height: 100%;
    background: #805b42;
    transition: 1s;
}

.stability::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.stability.active
{
    left:0;
}

.stability h1{
    position: absolute;
    top: 75%;
    right: 20px;
    font-size: 10em;
    font-weight: 100px;
    letter-spacing: 25px;
    color:#7a5137;
    user-select: none;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

.stability h2{
    position: absolute;
    top: 30px;
    left: 20%;
    color: rgb(227, 223, 223);
    font-size: 2em;
    letter-spacing: .3em;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

.rock{
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
}

.earthlogo{
    position: absolute;
}

.earthquotes{
    position:absolute;
    background-color: rgba(48, 33, 24, .7);
    margin-top: 15%;
    margin-right: 45%;
    padding: 7em 2em;
    color: rgb(227, 223, 223);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    }

// Water Page
.flow{
    position: absolute;
    top: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #4779c9;
    transition: 1s;
}

.flow::before{
    content:'';
    position: absolute;
    top: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.flow.active
{
    top:0;
}

.flow h1{
    position: absolute;
    top: 75%;
    left: 20px;
    font-size: 10em;
    font-weight: 100px;
    opacity: 30%;
    letter-spacing: 25px;
    color:#6e94d1;
    user-select: none;
}

.flow h2{
    position: absolute;
    top: 30px;
    left: 20%;
    color: rgb(227, 223, 223);
    font-size: 2em;
    letter-spacing: .3em;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}


.waterlogo{
    position: absolute;
    top: 20px;
    left: 20px;
}

.river{
    height: 100%;
    position: absolute;
    top: -55.1%;
    left: 0%;
}

.waterquotes{
    position:absolute;
    background-color:#253857;
    margin-top: 12em;
    margin-right: 30%;
    padding: 8em 2em;
    color: rgb(227, 223, 223);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    }

//Air Section
.freedom{
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background: #9fbbbd;
    transition: 1s;
}

.freedom::before{
    content:'';
    position: absolute;
    top: 0;
    right: 0;
    width: -70%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.freedom.active
{
    left:0;
}

.freedom h1{
    position: absolute;
    top: 75%;
    right: 20px;
    font-size: 10em;
    font-weight: 100px;
    opacity: 30%;
    letter-spacing: 25px;
    color:#3c5254;
    user-select: none;
}

.freedom h2{
    position: absolute;
    top: 30px;
    right: 20%;
    color: rgb(227, 223, 223);
    font-size: 2em;
    letter-spacing: .3em;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

.wind{
    height: 100%;
    position: absolute;
    top: 0px;
    left: -25%;
}

.airlogo{
    position: absolute;
    top: 20px;
    right: 20px;
}

.airquotes{
    position:absolute;
    background-color:#3c5254;
    margin-top: 12em;
    margin-left: 30%;
    padding: 8em 2em;
    color: rgb(227, 223, 223);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    }

// Fire Page
.passion{
    position: absolute;
    bottom: -100%;
    left: 0;
    width: 100%;
    height: 100%;
    background: #960503;
    transition: 1s;
}

.passion::before{
    content:'';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 70%;
    height: 100%;
    background: rgba(0,0,0,0.1);
}

.passion.active
{
    bottom:0;
}

.passion h1{
    position: absolute;
    top: 75%;
    left: 20px;
    font-size: 10em;
    font-weight: 100px;
    opacity: 30%;
    letter-spacing: 25px;
    color:#4c1b1b;
    user-select: none;
}

.passion h2{
    position: absolute;
    top: 30px;
    left: 20%;
    color: rgb(227, 223, 223);
    font-size: 2em;
    letter-spacing: .3em;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}


.firelogo{
    position: absolute;
    top: 20px;
    left: 20px;
}

.flame{
    height: 100%;
    position: absolute;
    bottom: -.1%;
    left: 0;
}

.firequotes{
    position:absolute;
    background-color:#4c1b1b;
    margin-top: 12em;
    margin-right: 30%;
    padding: 8em 2em;
    color: rgb(227, 223, 223);
    font-size: 15px;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
    }