*{
    margin: 0px;
    padding: 0px;
}

body::-webkit-scrollbar{
width: 0.25;
}

.container{
    background-color: #111;
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    overflow: hidden;
    align-items: center;
    justify-content: center;
}

.container h1{
    z-index: 1;
    color: lightcoral;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

//Button Effects

.begin{
    //display:none;
    position: absolute;
    padding: 10px 30px;
    z-index: 1;
    color: gray;
    font-size:30px;
    letter-spacing: 5px;
    text-decoration: none;
    overflow:hidden;
    transition: 0.5s;
    -webkit-box-reflect: below 2px linear-gradient(transparent,brown)
}

.begin:hover{
    background: midnightblue;
    color: whitesmoke;
    box-shadow: 0 0  50px ;
    transition-delay: 0.5s;

}

.begin:before{
    content: '';
    position:absolute;
    top:0;
    left:0;
    width: 10px;
    height: 10px;
    border-top: 2px solid midnightblue;
    border-left: 2px solid midnightblue;
    transition: 0.5s;
}

.begin:hover:before{
    width: 100%;
    height: 100%;
}

.begin:after{
    content: '';
    position:absolute;
    bottom:0;
    right:0;
    width: 10px;
    height: 10px;
    border-bottom: 2px solid midnightblue;
    border-right: 2px solid midnightblue;
    transition: 0.5s;
}

.begin:hover:after{
    width: 100%;
    height: 100%;
}

//
.homebg{
position: absolute;
}

.intro{
    display: inline-block
}

//Dynamic Nav

nav{
    z-index:1;
    position:relative;
    width: 50%;
    top: 40%;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 4vh;
    background-color: rgb(159, 169, 189);
    font-family: 'Quicksand', sans-serif;
    font-family: 'Raleway', sans-serif;
    font-family: 'Red Hat Display', sans-serif;
}

.links{
    display:flex;
    justify-content: space-around;
    width: 80%;
}

.links li{
    list-style: none;
}

.links a{
    color:aquamarine;
    text-decoration: none;
    letter-spacing: 3px;
    font-weight:bold;
    font-size:16px;
}

@media screen and (max-width:1024px){
    .links{
        width: 60%;
    }
};

